env.py
.env
przesluchania.zip
przesluchania
mapa_kawalki
pliki_z_fabryki
vision_response.json
downloads
results.json
downloads
arxiv.json
arxiv.txt
boiler.py
web_scraper.log
article_downloads/
captions.txt
image_captions.json
merged.json
merged_output.json
facts/
__pycache__/
keywords.json
